<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true">
		<intercept-url pattern="/employee/*" access="ROLE_ADMIN" />
		<form-login login-processing-url="/login" login-page="/loginPage"
			username-parameter="username" password-parameter="password"
			default-target-url="/employee/listemployee"
			authentication-failure-url="/loginPage?auth=fail" />
		<logout logout-url="/logout" logout-success-url="/logoutPage" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="ravi" password="ravi@123" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>


</beans:beans>
