<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AutowireOnConstructionUsingAnnotation/src/org/packt/Spring/chapter3/Annotation/onconstruction/PayrollSystem.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.packt.Spring.chapter3.Annotation.onconstruction.PayrollSystem"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AutowireOnConstructionUsingAnnotation"/>
</launchConfiguration>
