<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AspectJAnnotationExample/src/org/packt/Spring/chapter4/aspectJ/main/AppMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.packt.Spring.chapter4.aspectJ.main.AppMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AspectJAnnotationExample"/>
</launchConfiguration>
